$fontFamily: sans-serif, Arial, Helvetica;
$backgroundColor: whitesmoke;
$calculatorBackgroundColor: black;
$fontColor: lightgrey;
$fontColorAlternate: black;
$buttonLightGrey: #8b8c89;
$buttonGrey: #393938;
// $buttonYellow: #ff9b54;
$buttonYellow: #ee964b;

* { // * start
    margin: 0;
    padding-left: 50px;
    padding-top: 20px;
    font-family: sans-serif, Arial, Helvetica;
    // background-color: $backgroundColor;
    // color: $fontColor;
} // * end
// h1 {
//     color: $fontColorAlternate;
// }
.calculator { //calculator start
    // border: 5px solid red;
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 92%;
    background-color: $calculatorBackgroundColor;
    color: $fontColor;
    font-size: 75px;
    margin: 50px 0px 10px 0px;

    &__results { // &__results start
        // border: 2px solid lawngreen;
        position: relative;
        left: 150px;
        margin: 50px 0px 0px 20px;
        justify-self: flex-end;
    } // &__results end

    &__inputs { // &__inputs start
        // border: 2px solid red;
        display: grid;
        gap: 20px;
        justify-content: center;
        align-content: space-between;
        background-color: $calculatorBackgroundColor;
        font-size: 75px;
        margin: 30px 10px 10px 10px;
        padding: 5px;
    
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        // grid-template-areas: 
        // cancel changesign percentage division
        // seven eight nine multiplication
        // four five six substraction
        // one two three addition
        // zerodigit zerodigit decimaldigit calculate;
    } // &__inputs end

    .button { // button start 
        border: 1px solid $fontColorAlternate;
        // padding: 10px;
        // margin: 10px 10px 10px 10px;
        // font-size: 40px;
        justify-content: center;
    } // button end

    .button-lt-grey { // button-lt-grey start 
        border: 1px solid $fontColorAlternate;
        background-color: $buttonLightGrey;
        color: $fontColorAlternate;
        border-radius: 50%;
        padding: 10px;
        margin: 10px 10px 10px 10px;
        font-size: 40px;
    } // button-lt-end end

    .button-grey { // button-grey start 
        border: 1px solid $fontColorAlternate;
        background-color: $buttonGrey;
        color: $fontColor;
        border-radius: 50%;
        padding: 10px;
        margin: 10px 10px 10px 10px;
        font-size: 40px;
    } // button-grey end

    .button-yellow { // button-yellow start 
        border: 1px solid $fontColorAlternate;
        background-color: $buttonYellow;
        color: $fontColor;
        border-radius: 50%;
        padding: 10px;
        margin: 10px 10px 10px 10px;
        font-size: 40px;
    } // button-yellow end

    .number-0 { // number-0 start 
        // border: 1px solid lightcoral;
        // width: 150px;
        // grid-area: zerodigit;
        grid-column: 1/3;
        grid-row: 5;
        border-radius: 35px/30px;
    } // number-0 end

    // .number-1 {
    //     grid-area: one;
    // }
    // .number-2 {
    //     grid-area: two;
    // }
    // .number-3 {
    //     grid-area: three;
    // }
    // .number-4 {
    //     grid-area: four;
    // }
    // .number-5 {
    //     grid-area: five;
    // }
    // .number-6 {
    //     grid-area: six;
    // }
    // .number-7 {
    //     grid-area: seven;
    // }
    // .number-8 {
    //     grid-area: eight;
    // }
    // .number-9 {
    //     grid-area: nine;
    // }
    // .operator-cancel {
    //     grid-area: cancel;
    // }
    // .operator-changesign {
    //     grid-area: changesign;
    // }
    // .operator-percentage {
    //     grid-area: percentage;
    // }
    // .operator-divide {
    //     grid-area: division;
    // }
    // .operator-multiply {
    //     grid-area: multiplication;
    // }
    // .operator-substract {
    //     grid-area: substraction;
    // }
    // .operator-add {
    //     grid-area: addition;
    // }
    // .operator-decimal {
    //     grid-area: decimaldigit;
    // }
    // .operator-calculate {
    //     grid-area: calculate;
    // }

    &__footer { // &__footer start
        // border: 2px solid lightseagreen;
        padding: 10px;
        margin-bottom: 30px;
    } // &__footer end

} // calculator end